{% load markdown_to_html %}
<!-- Краткое представление карточки cards/templates/cards/include/card_preview.html -->
<div class="card mb-3 light">
  <div class="row g-0">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <div class="p-3">
        <i class="bi bi-question-circle-fill" style="font-size: 3rem;"></i>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{% markdown_to_html card.question %}</h5>
        <p class="card-text">{% markdown_to_html card.answer|truncatechars:100 %}</p>
        <p class="card-text"><small class="text-muted">Категория: {{ card.category }}</small></p>
        <p class="card-text">
          Теги:
          {% for tag in card.tags %}
            <span class="badge bg-secondary">{{ tag }}</span>
          {% endfor %}
        </p>
        <!-- Горизонтальное выравнивание для элементов даты, просмотров, добавлений и кнопки -->

        <div class="d-flex justify-content-between align-items-center mt-2">
          <small class="text-muted">Дата загрузки: {{ card.upload_date }}</small>
          <div class="ms-auto"> <!-- Добавлен класс ms-auto для сдвига вправо -->
            <i class="bi bi-eye"></i> {{ card.views }}
            <i class="bi bi-star-fill"></i> {{ card.adds }}
          </div>
          <!-- Кнопка детального представления добавлен класс для отступа слева ms-3 margin-start -->
          <a href="{% url 'detail_card_by_id' card_id=card.id %}" class="btn btn-dark btn-sm ms-3" role="button">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</div>
