<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Первый шаблон</title>
    <style>
        .green {
            color: green;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <!-- Цикл на синтаксисе шаблонизатора -->
            <!-- Если элемент первый или последний ему будет дан класс green -->
            {% for item in menu %}
            <li {% if forloop.first %} class="green" {% endif %}>
    <!--            Хардкод урлов. Если маршрут изменится, то придется менять везде-->
    <!--            <a href="{{ item.url }}">{{ item.title }}</a>-->
    <!--           Урлы через имена. Урлы будут добываться из urls.py автоматически-->
                <a href="{% url item.url_name %}">{{ item.title }}</a>

            </li>
             {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        </ul>
    </nav>
    <h1>Главная страница</h1>
    <p>Содержимое страницы</p>
</body>
</html>
